/* You can add global styles to this file, and also import other style files */

body{ background:#fff;}
body a:hover{ text-decoration: none; }
.white{ color: #fff !important; }
#navbarSupportedContent{ margin-right: 50px; }
.midcontent{ margin-bottom: 40px; }
.italic{ font-style: italic; }